<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.173165 0.0343573 0.171262" rpy="0.013581 -0.00932037 1.55868" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.173165 0.0343573 0.171262   0.00155538 -0.0080874 0.702764 0.711376 flange ka_rgb_camera_link" />
</launch>
