<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.16669 0.0338842 0.150813" rpy="0.00733315 0.00706869 1.56131" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.16669 0.0338842 0.150813   0.00509216 -6.93567e-05 0.703746 0.710433 flange ka_rgb_camera_link" />
</launch>
