<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0334581 -0.121444 0.170507" rpy="1.57631 0.00134526 3.13684" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0334581 -0.121444 0.170507   -0.00216074 0.70905 -0.705154 -0.00120023 tool0 ka_rgb_camera_link" />
</launch>
