<launch>
    <arg name="sim" default="true"/>
    <include if="$(arg sim)" file="$(find ur10e_ka_moveit_config)/launch/demo.launch" />
    <include unless="$(arg sim)" file="$(find ur10e_ka_moveit_config)/launch/ur10e_iaac_bringup.launch" />
    <include unless="$(arg sim)" file="$(find ur10e_ka_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find ur10e_ka_moveit_config)/launch/moveit.rviz" />
    </include>
    <node name="trajectory_tracer" pkg="commander" type="trace_trajectory_srv.py" output="screen" />
    <node name="pose_visualizer" pkg="commander" type="visualize_poses_srv.py" output="screen" />
    <node name="commander" pkg="commander" type="commander_node.py" output="screen">
        <param name="sim" value="$(arg sim)"/>
    </node>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0 0 0 0 -1.57 1.57 tool0 ka_camera_base" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.16669 0.0338842 0.150813   0.00509216 -6.93567e-05 0.703746 0.710433 flange ka_rgb_camera_link" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.173165 0.0343573 0.171262   0.00155538 -0.0080874 0.702764 0.711376 flange ka_rgb_camera_link" /> -->
      <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0324071 0.162512 0.173503   -0.714944 -0.00664989 -0.00153002 0.699148 tool0 ka_rgb_camera_link" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0334332 0.164515 0.177803   -0.713579 -0.00851675 -0.000435021 0.700523 tool0 ka_rgb_camera_link" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0318418 -0.158515 0.173205   -0.00612007 0.7147 -0.699398 -0.00282347 tool0 ka_rgb_camera_link" /> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0334581 -0.121444 0.170507   -0.00216074 0.70905 -0.705154 -0.00120023 tool0 ka_rgb_camera_link" />
</launch>